//Tipografica
$fuente_principal: 'DM Sans', sans-serif;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales

$rojo: hsl(10, 79%, 65%);
$azul-c: hsl(186, 34%, 60%);
$marron: hsl(25, 47%, 15%);
$marron-m: hsl(28, 10%, 53%);
$nata: hsl(27, 66%, 92%);
$naranja: hsl(33, 100%, 98%);

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
